<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2 style="color:darkblue">Header</h2>
    <br />

        @RenderBody()

        <br />
    <h2 style="color:darkgreen">Footer</h2>

</body>
</html>
